
.header{
  margin-top:1em;
  margin-bottom: 3em;
}

.header img{
  margin-right: 15px;
}

.header h2 {
  font-size: 48px;
  margin-top: 2px;
  color: white;
}

.fieldContainer {
  background-color: #b2b7b5;
}

#regiserContainer {
  background-color: #ffffff;
}

.navbar {
  padding-left: 50px;
  padding-right: 150px;
}

#genreList{
  list-style-type: none;
  font-size: 25px !important;
}

.genres h1{
  font-family: 'Ruda', sans-serif;
  font-size: 35px !important;
  color: black;
}

.top-movies{
  font-family: 'Ruda', sans-serif;
  margin-top: 2em;
  margin-left: 2em;

}

.top-movies h1{
  font-family: 'Ruda', sans-serif;
}
